<div class="container" id="signin">

  <form action="/signin" method="post" id="f_signin">
    Email: <input type="text" name="email"/><br/>
    Password: <input type="password" name="password"/><br/>
    <input type="submit" name="signin" value="Sign In!"/><br/>
    <br/><br/>
  </form>
  <a href="/signup">Sign up</a>
</div>
